.homey_nav_sticky {
    height: 80px !important;
}

.main-search {
    height: 0px;
    padding: 0 !important;
}

.airbnb-main-container {
    position: relative;
    top: -76px;
}

.airbnb-container {
    width: 400px;
    height: 50px; 
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px auto;
}

.airbnb-container .airbnb-button-group-container {
    margin-right: 20px;
    width: 350px;
    height: 50px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.airbnb-container .airbnb-button-group-container .airbnb-button {
    width: 50%; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.border-right {
    border-right: 1px solid #eee;    
}

.text-bold {
    font-weight: bold !important;
}

.airbnb-container .airbnb-search-button {
    width: 40px; height: 40px; 
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ff385c
}

.center-align {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.search-fields {
    background-color: #fff;
    width: 60%;
    height: 50px;
    /* padding: 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: .5px solid #dddddd;
    margin: 0 auto;
    transition: ease .2s;
    position: relative;
    top: 6px;
}

.search-fields .search-destination button {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.search-fields .search-destination button,
.search-fields .search-date-range input,
.search-fields .search-guests input,
.search-fields .search-filters button {
    height: 60px !important;
    /* border-radius: 50px; */
    background-color: white;
    border: .5px solid #dddddd;
    /* border-color: #dddddd; */
    transition: ease .2s;
}

.search-fields .search-destination button:hover,
.search-fields .search-date-range input:hover,
.search-fields .search-guests input:hover,
.search-fields .search-filters button:hover {
    background-color: #EBEBEB !important;
    border-radius: 50px;
    /* border-left: 0px solid lightgray; */
}

/* after content */
.search-fields .search-guests::after {
    content: '' !important;
}

.search-fields .search-date-range-arrive::after, 
.search-fields .search-date-range-depart::after {
    content: '' !important;
}

/* box margin top */
.search-fields .search-destination .dropdown-menu.open {
    border-radius: 24px !important;
    margin-top: 20px;
    width: 400px;
}

.search-fields .search-destination .dropdown-menu.open .bs-searchbox input {
    border-radius: 20px;
    padding: 10px;
}

.search-fields .search-destination .dropdown-menu.open .dropdown-menu.inner .no-results {
    margin: auto;
    text-align: center;
}

.search-fields .search-date-range .search-calendar {
    width: 800px !important;
    margin-top: 20px !important;
    border-radius: 20px !important;
}

.search-fields .search-guests .search-guests-wrap {
    margin-top: 20px !important;
    border-radius: 20px !important;
}

.airbnb-active {
    background-color: white !important;
    border-radius: 50px !important;
    border: 0px solid lightgray !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px !important; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    cursor: pointer;
    z-index: 999;
}

.search-fields .search-button {
    margin: 10px;
}

.search-fields .search-button button[type=submit] {
    border-radius: 50px;
}

.main-search .search-fields .search-destination,
.main-search .search-fields .search-type,
.main-search .search-fields .search-date-range,
.main-search .search-fields .search-guests,
.main-search .search-fields .search-filters,
.main-search .search-fields .search-button {
    width: auto;
    vertical-align: middle;
    padding-right: 0 !important;
}

.search-fields .search-date-range-arrive,
.search-fields .search-date-range-depart {
    margin-right: 0 !important;
}

/* search fields min width */
.search-fields .search-destination {
    min-width: 30% !important;
}

.search-fields .search-guests {
    min-width: 15% !important;
}

.search-fields .search-date-range {
    margin-right: -10px;
    min-width: 35%;
}

.z-index {
    z-index: 99999;
}

.airbnb-label {
    display: inline-block !important;
    top: 12px !important;
    left: 20px !important;
    color: black !important;
}

.search-fields .search-destination input,
.search-fields .search-guests input, 
.search-fields .search-date-range-arrive input, 
.search-fields .search-date-range-depart input {
    padding: 20px 0 0 20px !important;
}