#homey_nav_sticky {
    height: 80px !important;
}

.search-fields-animation {
    width: 150% !important;
    height: 60px !important;
    top: 76px !important;
    padding: 6px 62px !important;
    left: -152px !important;
}

.half-map-search {
    width: 100%;
    height: 0;
    padding: 0 !important;
    transition: height .2s;
}

#homey-main-search {
    width: 100%;
    position: absolute;
    transition: height .2s;
}

.main-search {
    height: 0px;
    padding: 0 !important;
}

/* .airbnb-main-container {
    position: relative;
    top: -76px;
    transition: top .2s;
} */

#search-desktop {
    width: 50% !important;
    margin: auto;
    position: relative;
    top: -76px;
    transition: top .2s;
}

.airbnb-container {
    width: 400px;
    height: 50px; 
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px auto;
    transition: width .2s, height .2s;
}

.airbnb-container .airbnb-button-group-container {
    margin-right: 20px;
    width: 350px;
    height: 50px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.airbnb-container .airbnb-button-group-container .airbnb-button {
    width: 50%; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
}

.border-right {
    border-right: 1px solid #eee;    
}

.text-bold {
    font-weight: bold !important;
}

.airbnb-container .airbnb-search-button {
    width: 40px; height: 40px; 
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1e73be;
}

.center-align {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.search-fields {
    background-color: #fff;
    width: 60%;
    height: 50px;
    /* padding: 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: .5px solid #dddddd;
    margin: 0 auto;
    position: relative;
    top: 6px;
    left: 0;
    transition: width .2s, height .2s, top .2s, left .5s;
}

.search-fields .search-destination button {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.search-fields .search-destination button,
.search-fields .search-type button,
.search-fields .search-date-range input,
.search-fields .search-guests input,
.search-fields .search-filters button {
    height: 60px !important;
    /* border-radius: 50px; */
    background-color: white;
    border: .5px solid #dddddd;
    /* border-color: #dddddd; */
    transition: ease .2s;
}

.search-fields .search-destination button:hover,
.search-fields .search-type button:hover,
.search-fields .search-date-range input:hover,
.search-fields .search-guests input:hover,
.search-fields .search-filters button:hover {
    background-color: #EBEBEB !important;
    border-radius: 50px;
    /* border-left: 0px solid lightgray; */
}

/* after content */
.search-fields .search-guests::after {
    content: '' !important;
}

.search-fields .search-date-range-arrive::after, 
.search-fields .search-date-range-depart::after {
    content: '' !important;
}

/* box margin top */
.search-fields .search-destination .dropdown-menu.open {
    border-radius: 24px !important;
    margin-top: 20px;
    width: 400px;
}

.search-fields .search-destination .dropdown-menu.open .bs-searchbox input {
    border-radius: 20px;
    padding: 10px;
}

.search-fields .search-destination .dropdown-menu.open .dropdown-menu.inner .no-results {
    margin: auto;
    text-align: center;
}

.search-fields .search-type .dropdown-menu.open {
    border-radius: 24px !important;
    margin-top: 40px;
    width: 200px;
}

.half-map-search .search-fields .search-type .dropdown-menu.open {
    border-radius: 24px !important;
    margin-top: 20px;
    width: 200px;
}

.search-fields .search-date-range .search-calendar {
    width: 909px !important; /*860px*/
    margin-top: 20px !important;
    border-radius: 20px !important;
    left: 26% !important; /*52%*/
}

.search-fields .search-guests .search-guests-wrap {
    margin-top: 20px !important;
    border-radius: 20px !important;
}

.airbnb-active {
    background-color: white !important;
    border-radius: 50px !important;
    border: 0px solid lightgray !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px !important; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    cursor: pointer;
    z-index: 999;
}

.search-fields .search-button {
    margin: 10px !important;
}

.search-fields .search-button button {
    border-radius: 50px;
    background-color: #1e73be !important;
    border-color: #1e73be !important;
}

.search-fields .half-map-search-buttons {
    top: 0 !important;
}

.main-search .search-fields .search-destination,
.main-search .search-fields .search-type,
.main-search .search-fields .search-date-range,
.main-search .search-fields .search-guests,
.main-search .search-fields .search-filters,
.main-search .search-fields .search-button {
    width: auto;
    vertical-align: middle;
    padding-right: 0 !important;
}

.search-fields .search-date-range-arrive,
.search-fields .search-date-range-depart {
    margin-right: 0 !important;
}

/* search fields min width */
.search-fields .search-destination {
    min-width: 30% !important;
}

.search-fields .search-guests {
    min-width: 15% !important;
}

.search-fields .search-date-range {
    margin-right: -10px;
    min-width: 35%;
}

.z-index {
    z-index: 99999;
}

.airbnb-label {
    display: inline-block !important;
    top: 12px !important;
    left: 20px !important;
    color: black !important;
}

.search-fields .search-destination input,
.search-fields .search-guests input, 
.search-fields .search-date-range-arrive input, 
.search-fields .search-date-range-depart input {
    padding: 20px 0 0 20px !important;
}

.search-fields .search-type button {
    padding: 10px 20px;
}

.search-calendar.arrive_active:after, 
.search-calendar.arrive_active:before {
    left: 49% !important;
}

.search-calendar.depart_active:after, 
.search-calendar.depart_active:before {
    left: 64% !important;
}

/* btn-radio-tolerance */
.btn-tolerance input[name=tolerance] {
    display: none;
}

.btn-tolerance {
    min-width: 70px;
    height: 30px !important;
    border-radius: 50px;
    border: 1px solid #eee;
    background-color: white;
    padding: 0 10px;
    color: black;
    appearance: button;
}

.btn-tolerance:hover {
    border: 1px solid black;
}

.btn-tolerance-active {
    border: 2px solid black;
    background-color: #f3f3f3;
}

/* filter slider */
.filter-like-airbnb {
    background-color: white;
    margin: 0 auto;
    padding: 0 30px;
}

.custom-filter-section {
    padding-left: 30px;
}

.custom-btn-btn {
    padding: 4px 14px !important;
    border-radius: 15px !important;
    color: black !important;
    font-weight: bold !important;
}

.custom-btn-text {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    font-size: 12px !important;
}

.custom-filter-section .search-filter {
    top: 185px !important;
    position: absolute !important;
    width: 90% !important;
}

.custom-filter-section .search-filters {
    position: relative;
    z-index: 9999;
}

.search-filter-wrap {
    border-radius: 25px !important;
}

.splide {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    z-index: 9999;
}

.splide__slide {
    /* margin-right: 3rem !important; */
}

.splide__slide__container {
    width: 3rem !important;
    height: auto !important;
    margin: 0 auto;
}

.splide__slide__label {
    color: gray;
    font-size: 12px;
    text-align: center;
}

.splide__arrow {
    background-color: white !important;
    transition: ease .2s;
}

.splide__arrow:hover {
    background-color: #dddddd !important;
}

/* filter dropdown on search detail page */
.half-map-search-filters .search-filter .search-filter-wrap {
    width: 80%;
    position: absolute !important;
    left: 0;
    right: 0;
    margin: auto;
}

/* categories menu */
.categories-menu {
    position: absolute !important;
    top: 19px;
    left: 23%;
    z-index: 9999;
}

.categories-menu #categoriesMenu {
    border-radius: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.categories-menu-container {
    min-width: 146px !important;
    border-radius: 16px !important;
}

/* mobile responsive */
@media (max-width: 991px) {
    .main-search .search-banner-mobile {
        margin: 10px 0;
    }   

    #homey-main-search .container,
    #homey-main-search .container-fluid {
        background-color: white;
    }

    .filter-like-airbnb {
        margin-top: 70px;
        padding: 0 0;
    }

    .splide {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .custom-airbnb-search-bar {
        height: 50px !important;
        border-radius: 50px !important;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px !important;
    }

    .search-destination:after {
        top: 14px !important;
    }

    .custom-search-banner-mobile .search-filters {
        position: absolute;
        top: 17px;
        right: 11px;
    }

    .custom-search-banner-mobile .search-filters .custom-btn-btn {
        width: 35px !important;
        height: 35px !important;
        padding: 4px 10px !important;
        border-radius: 50px !important;
    }

    .custom-search-banner-mobile .search-filter .search-filter-wrap {
        height: 500px;
        overflow-y: scroll;
    }

    .custom-search-banner-mobile .search-filter .search-filter-wrap .search-filter-footer {
        display: flex;
        justify-content: space-evenly;
    }

    .custom-search-banner-mobile .search-filter .search-filter-wrap .search-filter-footer button {
        padding: 0 15px !important;
    }
}

/* mobile responsive */
@media (max-width: 991px) {
    #overlay-search-advanced-module .search-destination button {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }

    .airbnb-btn-mobile-search-type,
    .airbnb-btn-mobile {
        height: 140px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px !important;
        margin-bottom: 20px;
        border-radius: 16px;
        padding: 20px;
    }

    .airbnb-btn-mobile .search-destination .dropdown-menu.open {
        max-height: 400px !important;
        margin-top: 10px;
        border-radius: 16px;
    }

    .airbnb-btn-mobile .search-destination .dropdown-menu.open .bs-searchbox input {
        border-radius: 16px;
    }

    /* Listing type */
    .airbnb-btn-mobile-search-type .search-type .btn-group .dropdown-menu.open {
        max-height: 400px !important;
        margin-top: 10px;
        border-radius: 16px;
    }

    .airbnb-btn-mobile-search-type .search-type .btn-group button {
        border-radius: 16px;
    }

    #overlay-search-advanced-module .search-guests input,
    .airbnb-btn-search-type,
    .airbnb-btn-search {
        width: 100%;
        height: 50px !important;
        background-color: white;
        border: none;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px !important;
        border-radius: 16px;
        margin-bottom: 20px;
        text-align: left;
        font-weight: bold;
        padding-left: 30px;
    }

    .airbnb-btn-search-inner {
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .airbnb-btn-date-range {
        font-weight: bold;
    }

    #overlay-search-advanced-module .search-date-range {
        height: 50px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .search-date-range-inner input {
        height: 30px !important;
        padding: 10px 0 10px 8px !important;
        border-radius: 10px;
        font-size: 12px !important;
    }

    #overlay-search-advanced-module .search-guests::after,
    .search-date-range-inner .search-date-range-arrive::after, 
    .search-date-range-inner .search-date-range-depart::after {
        content: '' !important;
    }

    .search-date-range-outer {
        display: flex;
        align-items: center;
    }

    .search-date-range-inner {
        width: 60%;
        float: right;
    }

    .airbnb-btn-date-range {
        flex-grow: 1;
        padding-left: 20px;
    }

    #overlay-search-advanced-module .search-guests .search-guests-wrap {
        margin-top: -6px;
        border-radius: 16px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
    }

    #overlay-search-advanced-module .search-button button {
        border-radius: 16px;
        box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
    }

    #overlay-search-advanced-module .search-banner .search-guests .on-focus {
        padding: 0 0 0 30px !important;
    }

    .categories-menu {
        top: 77px;
        right: 16%;
        left: auto;
    }

    .categories-menu #categoriesMenu {
        box-shadow: none;
        line-height: 35px;
        padding: 0 11px;
        border-color: #dddddd;
    }
}